<div class="d-flex flex-grow flex-column flex-fill w-100 h-100 justify-content-center align-items-center" style="min-height: 90vh">

  <div class="d-sm-flex flex-row justify-content-center align-items-center d-none">
    <img class="gitlab-logo" src="assets/gitlab.svg" />
    <i class="material-icons me-5">
      link
    </i>
    <img class="kube-logo" src="assets/kube.svg" />
  </div>
  <div *ngIf="isFailed()">
    <div class="alert alert-danger" role="alert">
      <i class="material-icons me-2">
        error
      </i>
      You are not authorized to use this Kubernetes-Cluster. Please contact your administrator if you believe that this is an error.
    </div>
  </div>
  <button type="button" (click)="login()" class="btn btn-primary login-button">Login with GitLab &amp; accept the use of functional cookies</button>
</div>
