<div class="container">
  <div class="row my-2">
    <div class="col-12 col-sm-4 offset-sm-8">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-dark"
                title="Copies your personal access token to your clipboard. You can use this token e.g. to authorize yourself against the Kubernetes API Endpoints."
                (click)="GetToken(t, copyUserTokenButton)" triggers="manual" ngbTooltip="Tooltip on top" #t="ngbTooltip" [autoClose]="true" #copyUserTokenButton
                [closeDelay]="2000">
          <ng-container *ngIf="!copyUserTokenButton.disabled else working">Copy your user Token</ng-container>
        </button>
        <a class="btn btn-outline-dark" title="You can use this file e.g. to access the Kubernetes cluster using kubectl CLI tool."
           href="/api/v1/kubernetes/getUserConf">Download your ~/.kube/config File</a>
      </div>
    </div>
  </div>

  <div class="alert alert-primary my-1" role="alert" *ngIf="CountOfJoinedProjects() > 0">
    You have been successfully added to {{ CountOfJoinedProjects() }} projects.
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link fs-5" [class.active]="view == 'gitlab'" (click)="view = 'gitlab'">
        <svg height="25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 586 559">
          <defs>
            <style>
              .cls-1 {
                fill: #fc6d26;
              }

              .cls-2 {
                fill: #e24329;
              }

              .cls-3 {
                fill: #fca326;
              }
            </style>
          </defs>
          <g id="g44"><path id="path46" class="cls-1" d="M461.17,301.83l-18.91-58.12L404.84,128.43a6.47,6.47,0,0,0-12.27,0L355.15,243.64H230.82L193.4,128.43a6.46,6.46,0,0,0-12.26,0L143.78,243.64l-18.91,58.19a12.88,12.88,0,0,0,4.66,14.39L293,435,456.44,316.22a12.9,12.9,0,0,0,4.73-14.39" /></g>
          <g id="g48"><path id="path50" class="cls-2" d="M293,434.91h0l62.16-191.28H230.87L293,434.91Z" /></g>
          <g id="g56"><path id="path58" class="cls-1" d="M293,434.91,230.82,243.63h-87L293,434.91Z" /></g>
          <g id="g64"><path id="path66" class="cls-3" d="M143.75,243.69h0l-18.91,58.12a12.88,12.88,0,0,0,4.66,14.39L293,435,143.75,243.69Z" /></g>
          <g id="g72"><path id="path74" class="cls-2" d="M143.78,243.69h87.11L193.4,128.49a6.47,6.47,0,0,0-12.27,0l-37.35,115.2Z" /></g>
          <g id="g76"><path id="path78" class="cls-1" d="M293,434.91l62.16-191.28H442.3L293,434.91Z" /></g>
          <g id="g80"><path id="path82" class="cls-3" d="M442.24,243.69h0l18.91,58.12a12.85,12.85,0,0,1-4.66,14.39L293,434.91l149.2-191.22Z" /></g>
          <g id="g84"><path id="path86" class="cls-2" d="M442.28,243.69h-87.1l37.42-115.2a6.46,6.46,0,0,1,12.26,0l37.42,115.2Z" /></g>
        </svg>
        GitLab Projects
      </a>
    </li>
    <li>
      <a class="nav-link d-flex align-items-center fs-5" [class.active]="view == 'custom'" aria-current="page" href="#" (click)="view = 'custom'">
        <i class="material-icons me-1">
          code
        </i>
        <span>Custom Projects</span>
      </a>
    </li>
  </ul>
  <ng-container *ngIf="view == 'custom'">
    <div class="row mt-2" *ngIf="customProjects && customProjects.length >= 0 else working">
      <div class="col-9">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">&lt;your-username&gt;-ppp-</span>
          <input type="text" pattern="[A-Za-z0-9]*" class="form-control" placeholder="namespace name" [(ngModel)]="newNamespaceName" aria-describedby="namespaceHint" />
        </div>
        <small id="namespaceHint" class="form-text text-muted">Allowed are only letters, numbers and -.</small>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-primary" title="Adds a custom kubernetes namspace."
                [disabled]="newNamespaceName.length == 0"
                (click)="AddCustomNamespace(newNamespaceName)">
          Add custom Namespace
        </button>
      </div>
      <div class="col-12 border-bottom my-3"></div>
      <div class="col-12 border-bottom border-color" *ngFor="let p of customProjects">
        <div class="row py-3 " [class.clickable]="p.ownProject"
             (click)="extendedCustomProject = (extendedCustomProject == p.id?'':p.id)">
          <div class="col-1">
            <i class="material-icons" *ngIf="extendedCustomProject != p.id && p.ownProject">
              keyboard_arrow_down
            </i>
            <i class="material-icons" *ngIf="extendedCustomProject == p.id && p.ownProject">
              keyboard_arrow_right
            </i>
          </div>
          <div class="col-11 col-sm-7">
            <div class="row">
              <div class="col-5">
                <h5>Kubernetes-Namespace:</h5>
              </div>
              <div class="col-7">
                <h5>
                  <a target="_blank"
                     [href]="'/dashboard/#/overview?namespace='+p.kubernetesNamespace"
                     click-stop-propagation>

                    {{ p.kubernetesNamespace }}
                  </a>
                </h5>
              </div>
              <div class="col-7 offset-5" *ngIf="p.monitoringUrl">
                <h5>
                  <a target="_blank"
                     [href]="p.monitoringUrl"
                     click-stop-propagation>
                    Go to Monitoring
                  </a>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-11 col-sm-4 d-flex justify-content-end align-items-center">
            <div class="btn-group" role="group" *ngIf="!p.apiOperationRunning else working">
              <button type="button" class="btn btn-warning" *ngIf="!p.ownProject" click-stop-propagation
                      title="Removes your personal access to this project/namespace."
                      (click)="LeaveCustomProject(p);">
                Leave project
              </button>
              <button type="button" class="btn btn-danger" *ngIf="p.ownProject" click-stop-propagation
                      title="Deletes the correspondending namespace inside kubernetes - all data will be lost."
                      (click)="DeleteCustomProject(p);">
                Delete
              </button>
            </div>
          </div>
        </div>
        <ng-container *ngIf="p.ownProject">
          <div class="row" [ngbCollapse]="extendedCustomProject != p.id">
            <div class="col-7 offset-1">
              <input type="text" pattern="[A-Za-z0-9]*" class="form-control w-100 ms-3" placeholder="username" #usernameInput />
            </div>
            <div class="col-3">
              <button type="button" class="btn btn-primary" (click)="AddUserToCustomProject(p, usernameInput.value)">Add user</button>
            </div>
            <div class="col-10 offset-1 mt-3">
              <label class="fs-4 ms-3">
                User with access to this Kubernetes Namespace
              </label>
            </div>
            <div class="col-10 col-md-6 offset-1">
              <table class="table table-striped ms-4">
                <tbody>
                  <tr *ngIf="!p.userWithAccess || p.userWithAccess.length == 0">
                    <th>There are no other users with access to this Kubernetes Namespace.</th>
                  </tr>
                  <tr *ngFor="let u of p.userWithAccess">
                    <th scope="row">{{ u }}</th>
                    <td>
                      <button type="button" class="btn btn-danger" *ngIf="!p.apiOperationRunning else working"
                              title="Removes the personal access for the specified user."
                              (click)="RemoveAccessForUserToCustomProject(u, p)">
                        Remove access
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-12 border-bottom border-color" *ngIf="customProjects && customProjects.length == 0">
        We could not find any custom Kubernetes Namespace associated with you.
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="view == 'gitlab'">
    <div class="alert alert-warning my-1 d-flex align-items-center" role="alert">
      <i class="material-icons me-2">
        admin_panel_settings
      </i>
      <span>
        Please only create a bridge for a project if <strong>not trustworthy</strong> members
        have at most <strong>developer</strong> permissions because they would gain access to a CI/CD privileged runner
        and management access to the connected Kubernetes namespace. This would have a major safety impact.
      </span>
    </div>



    <div class="row" *ngIf="projekte else working">
      <div class="col-12 border-bottom border-color" *ngIf="!projekte || projekte.length == 0">
        We could not find any project in which you have at least maintainer rights.
      </div>
      <div class="col-12 pb-2 border-bottom border-color" *ngFor="let p of projekte">
        <div class="row py-3 ">
          <div class="col-12 col-sm-8">
            <div class="d-flex align-items-center">
              <h4><a [href]="p.url" target="_blank" title="Open project's GitLab page" click-stop-propagation>{{ p.nameWithNamespace }}</a></h4>
              <span class="badge bg-primary ms-3" *ngIf="p.joined"
                    title="Add the current project to your personal kubernetes access account.">Joined!</span>
            </div>

            <div class="d-flex flex-wrap" *ngIf="p.enabled">
              <div class="btn-group m-1 me-4" role="group">
                <a target="_blank"
                   [href]="'/dashboard/#/overview?namespace='+p.KubernetesNamespace"
                   class="btn btn-success d-flex align-items-center"
                   [title]="'Manage Kubernetes namespace ' + p.KubernetesNamespace"
                   click-stop-propagation>
                  <i class="material-icons me-1">
                    dashboard
                  </i>
                  Manage namespace
                </a>
                <button type="button" class="btn btn-success d-flex align-items-center"
                        title="Copy namespace name"
                        (click)="CopyToClipboard(t, p.KubernetesNamespace)" triggers="manual" ngbTooltip="Tooltip on top" #t="ngbTooltip" [autoClose]="true"
                        [closeDelay]="2000">
                  <i class="material-icons">
                    content_copy
                  </i>
                </button>
              </div>

              <a target="_blank"
                 [href]="p.monitoringUrl"
                 class="btn btn-warning m-1 me-4"
                 *ngIf="p.monitoringUrl"
                 click-stop-propagation>
                <div class="d-flex align-items-center">
                  <i class="material-icons me-1">
                    insights
                  </i>
                  <span>Go to Monitoring</span>
                </div>

              </a>

              <button type="button" class="btn btn-outline-secondary m-1 d-flex align-items-center" *ngIf="p.enabled"
                      title="Copies the gitlab kubernetes access token to your clipboard." (click)="GetProjectToken(t2, p.id, copyTokenButton)"
                      click-stop-propagation triggers="manual" #t2="ngbTooltip" #copyTokenButton ngbTooltip="Tooltip on top" [autoClose]="true"
                      [closeDelay]="2000">
                <ng-container *ngIf="!copyTokenButton.disabled else working">
                  <i class="material-icons me-1">
                    content_copy
                  </i>
                  Copy token
                </ng-container>
              </button>
            </div>
            <div class="row">
              <div class="col-12 mt-2">
                <a href="#" [class.clickable]="p.enabled"
                   *ngIf="extendedProject != p.id && p.enabled"
                   class="d-flex align-items-center text-decoration-none"
                   (click)="extendedProject = (extendedProject == p.id?-1:p.id)">
                  <i class="material-icons">
                    keyboard_arrow_right
                  </i>
                  Expand details
                </a>
                <a href="#" [class.clickable]="p.enabled"
                   *ngIf="extendedProject == p.id && p.enabled"
                   class="d-flex align-items-center text-decoration-none"
                   (click)="extendedProject = (extendedProject == p.id?-1:p.id)">
                  <i class="material-icons">
                    keyboard_arrow_down
                  </i>
                  Collapse details
                </a>
              </div>
            </div>
          </div>
          <div class="col-11 col-sm-4 d-flex justify-content-end align-items-center">
            <ng-container *ngIf="!p.apiOperationRunning else working">
              <button type="button" class="btn btn-success d-flex align-items-center" *ngIf="!p.enabled" click-stop-propagation
                      title="Enables the gitlab kubernetes integration" #enableButton
                      (click)="EnableProject(p);">
                <i class="material-icons me-1">
                  link
                </i>
                Create bridge
              </button>
              <button type="button" class="btn btn-danger d-flex align-items-center" *ngIf="p.enabled" click-stop-propagation
                      title="Disables the gitlab kubernetes integration and deletes the correspondending namespace inside kubernetes - all data will be lost."
                      #disableButton (click)="DisableProject(p);">
                <i class="material-icons me-1">
                  delete_forever
                </i>
                Destroy bridge
              </button>
            </ng-container>
          </div>
        </div>

        <div *ngIf="p.enabled" class="row" [ngbCollapse]="extendedProject != p.id">
          <div class="card offset-1 col-11 col-md-6 col-lg-5">
            <div class="card-body">
              <h5 class="card-title">
                User with access to this Kubernetes Namespace
              </h5>
              <table class="table table-striped">
                <tbody>
                  <tr *ngIf="!p.UserWithAccess || p.UserWithAccess.length == 0">
                    <th>There are no other users with access to the Kubernetes Namespace associated with this project.</th>
                  </tr>
                  <tr *ngFor="let u of p.UserWithAccess">
                    <th scope="row">{{ u }}</th>
                    <td>
                      <button type="button" class="btn btn-danger float-end" *ngIf="!p.apiOperationRunning else working"
                              title="Removes the personal access for the specified user. This makes only sense if the user leaved this project or has at least developer rights in this project."
                              (click)="RemoveAccessForUser(u, p)">
                        Remove access
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="alert alert-light my-1" role="alert">
                Other maintainers or owners of this project have to sign in this page to gain access to the associated Kubernetes Namespace if they are not yet displayed in the list above.
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="my-3 mx-auto d-flex align-items-center justify-content-center" role="alert">
      <i class="material-icons me-2 text-primary">
        info
      </i>
      <span>Only projects in which you have at least maintainer permissions will be displayed.</span>
    </div>
  </ng-container>
</div>
<ng-template #working>
  <div class="w-100 d-flex justify-content-center m-5">
    <div class="spinner-grow text-primary" role="status">
      <span class="visually-hidden">Working...</span>
    </div>
  </div>
</ng-template>
