<p>You see this page because you have not already deployed and/ or configured a kubernetes dashboard in your cluster.</p>
<p>To deploy a kubernetes dashboard follow the instructions <a href="">here</a>.</p>

<p>If you have done so, add the following ingress resource to the namespace where your kubernetes dashboard is deployed.
  Make sure that the url and the certificate match them you used to deploy GKB.
  </p>
<pre><code>
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    ingress.kubernetes.io/whitelist-source-range: 141.48.165.224/27
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/auth-signin: https://%your-gkb-url%/login?redirect=https://$host$request_uri$is_args$args
    nginx.ingress.kubernetes.io/auth-url: https://%your-gkb-url%/api/v1/kubernetes/oauth/auth
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    nginx.ingress.kubernetes.io/configuration-snippet: |
      # adds authorization header for kubernetes-dashboard
      auth_request_set $token $upstream_http_authorization;
      proxy_set_header Authorization $token;
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/secure-backends: "true"
  name: kubernetes-dashboard-for-gkb
spec:
  rules:
  - host: %your-gkb-url%
    http:
      paths:
      - backend:
          serviceName: kubernetes-dashboard
          servicePort: 443
        path: /dashboard(/|$)(.*)
  tls:
  - hosts:
    - %your-gkb-url%
    secretName: kube-cert
</code></pre>
